.blog1 {
    background-color: #ff0000; /* Fondo blanco */
    border: 1px solid #ddd; /* Contorno gris suave */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin: 15px 0; /* Espaciado entre las tarjetas */
    
  }